/* styles.css */
body {
    font-family: 'Sans-serif';
}

header {
    background-color: #FBBF24;
    color: white;
    padding: 1.5rem;
    text-align: center;
}

.featured-dishes, .testimonials, .about, .contact {
    padding: 1.5rem;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 1rem;
}
