body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.menu {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu h2 {
    text-align: center;
    color: #0073e6;
    margin-bottom: 20px;
}

.menu-category {
    margin-bottom: 30px;
}

.menu-category h3 {
    color: #0073e6;
    border-bottom: 2px solid #0073e6;
    padding-bottom: 5px;
}

.menu-category ul {
    list-style-type: none;
    padding: 0;
}

.menu-category ul li {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-category ul li strong {
    color: #0073e6;
}

.menu-category ul li p {
    margin: 5px 0;
}

.menu-category ul li .price {
    font-weight: bold;
    color: #333;
}

.footer {
    background-color: #263238;
    color: white;
    padding: 20px;
    margin-top: 30px;
  }